@font-face {
  font-family: "iconfont"; /* Project id 2544441 */
  src: url('iconfont.woff2?t=1620871588044') format('woff2'),
       url('iconfont.woff?t=1620871588044') format('woff'),
       url('iconfont.ttf?t=1620871588044') format('truetype');
}

[class*=" el-icon-third"]/*这里有空格*/
{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myicon-ai-eye:before {
  content: "\e669";
}

.myicon-wode:before {
  content: "\e61e";
}

.myicon-zhuce:before {
  content: "\e61f";
}

